{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "node": "18",
        "browsers": [">0.2%", "not dead", "not op_mini all"]
      }
    }]
  ],
  "plugins": ["glslify"],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["glslify"]
    }
  }
}
